<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Maak lijst aan</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" data-testid="closeBtn"
        ><ion-icon name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Naam</ion-label>
    <ion-input [formControl]="nameControl" data-testid="nameInput"></ion-input>
  </ion-item>

  <ion-button
    (click)="save()"
    [disabled]="nameControl.invalid"
    data-testid="saveBtn"
    expand="block"
    color="tertiary"
    >Opslaan</ion-button
  >
</ion-content>
