<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Voeg product toe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" data-testid="close-button">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Product</ion-label>
    <ion-input
      [formControl]="productControl"
      data-testid="productInput"
    ></ion-input>
  </ion-item>

  <ion-button
    (click)="save()"
    [disabled]="productControl.invalid"
    expand="block"
    color="tertiary"
    data-testid="saveButton"
    >Toevoegen</ion-button
  >
</ion-content>
