<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input
        data-testid="email"
        formControlName="email"
        type="email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Wachtwoord</ion-label>
      <ion-input
        data-testid="password"
        formControlName="password"
        type="password"
      ></ion-input>
    </ion-item>

    <ion-button fill="clear" color="light">Wachtwoord vergeten?</ion-button>
    <ion-button
      (click)="login()"
      expand="block"
      color="tertiary"
      data-testid="login-btn"
      >Inloggen</ion-button
    >
    <ion-button expand="block" color="tertiary">Account aanmaken</ion-button>
  </form>
</ion-content>
