form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--ion-color-primary);
  padding: 0 1rem;

  ion-item {
    margin-bottom: 1rem;
    border-radius: 0.25rem;
  }

  ion-button {
    margin-bottom: 0.5rem;
  }
}
