<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Mijn lijsten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-infinite-scroll>
    <ion-infinite-scroll-content>
      <ion-list>
        <ion-item-sliding *ngFor="let list of shoppingLists">
          <ion-item data-testid="list-item" button (click)="goToList(list)">
            <ion-label>
              <h2>{{ list.name }}</h2>
              <h3>5 / 10</h3>
            </ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger"
              ><ion-icon name="trash"></ion-icon
            ></ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      (click)="createList()"
      data-testid="create-btn"
      color="tertiary"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
